<!DOCTYPE html>
<html>
<head>
  <title>JqueryFlight</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
        <%= link_to 'jQuery Return Flight', flights_path, class: "navbar-brand" %>
      </div>
    </div>
  </div>
  <%= yield %>

</body>
</html>
